<!DOCTYPE html>
<html lang="ko">
   <head>
      <title>
         롤갤방송+채팅 6.0
      </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="robots" content="none"><script type="text/javascript" nonce="72f3f58da9904fa4806223c5580" src="//local.adguard.org?ts=1580978925829&amp;type=content-script&amp;dmn=insagirl-toto.appspot.com&amp;css=1&amp;js=1&amp;gcss=1&amp;rel=1&amp;rji=1"></script>
<script type="text/javascript" nonce="72f3f58da9904fa4806223c5580" src="//local.adguard.org?ts=1580978925829&amp;name=AdGuard%20Popup%20Blocker&amp;name=AdGuard%20Assistant&amp;name=AdGuard%20Extra&amp;type=user-script"></script><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/p/min/style/style.min.css?1.424221234590387365">
   </head>
   <body style="background-color:#fff">
   
      <div class="modal fade" id="myIchatModal" role="dialog">
         <div class="modal-dialog modal-sm modal-align-bottom-right">
            <div class="modal-content">
               <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <ul class="nav nav-tabs" style="list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);">
                     <li class="active"><a data-toggle="tab" href="#ichatEmo1">캐릭터</a></li>
                     <li><a data-toggle="tab" href="#ichatEmo10">롤</a></li>
                     <li><a data-toggle="tab" href="#ichatEmo9">팀</a></li>
                     <li><a data-toggle="tab" href="#ichatEmo2">etc1</a></li>
                     <li><a data-toggle="tab" href="#ichatEmo3">etc2</a></li>
                     <li><a data-toggle="tab" href="#ichatEmo4">인방</a></li>
                     <li style="clear:both;"><a data-toggle="tab" href="#ichatEmo5">정치</a></li>
                     <li><a data-toggle="tab" href="#ichatEmo6">선수1</a></li>
                     <li><a data-toggle="tab" href="#ichatEmo7">선수2</a></li>
                     <li><a data-toggle="tab" href="#ichatEmo8">연예</a></li>
                     <li><a data-toggle="tab" href="#ichatEmo11">영화</a></li>
                  </ul>
                  <div class="tab-content" id="ichatEmos">
                     <div id="ichatEmo1" class="tab-pane fade in active"></div>
                     <div id="ichatEmo2" class="tab-pane fade"></div>
                     <div id="ichatEmo9" class="tab-pane fade"></div>
                     <div id="ichatEmo3" class="tab-pane fade"></div>
                     <div id="ichatEmo4" class="tab-pane fade"></div>
                     <div id="ichatEmo5" class="tab-pane fade"></div>
                     <div id="ichatEmo6" class="tab-pane fade"></div>
                     <div id="ichatEmo7" class="tab-pane fade"></div>
                     <div id="ichatEmo8" class="tab-pane fade"></div>
                     <div id="ichatEmo9" class="tab-pane fade"></div>
                     <div id="ichatEmo10" class="tab-pane fade"></div>
                     <div id="ichatEmo11" class="tab-pane fade"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class = 'ichat'>
         <div id = "usersbutton" class="btn btn-default btn-xs username" type="button" data-toggle="modal" data-target="#users">접속자: ?</div>
         <ul id = "chattings" class="list-unstyled" >
         </ul>
         <div id="inputs" class="input-group input-group-sm">
            <input id="ichatinput" type="text" class="form-control" placeholder="채팅을 입력하세요." maxlength="150">
            <span class="input-group-btn">
               <div class="btn btn-default btn-xs username" type="button" data-toggle="modal" data-target="#myIchatModal">^^</div>
            </span>
         </div>
         <div class="modal fade" id="tmchats" role="dialog">
            <div class="modal-dialog modal-sm">
               <!-- Modal content-->
               <div class="modal-content">
                  <button style="position:absolute; right:0px; z-index:1; font-size: 25px; width:25px"  type="button" class="close" data-dismiss="modal">&times;</button>
                  <div id="tmchatlist" class="modal-body">
                     <ul class="list-unstyled">
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal fade" id="users" role="dialog">
            <div class="modal-dialog modal-sm">
               <!-- Modal content-->
               <div class="modal-content">
                  <button style="position:absolute; right:0px; z-index:1; font-size: 25px; width:25px"  type="button" class="close" data-dismiss="modal">&times;</button>
                  <div id="userlist" class="modal-body">
                     <ul class="list-unstyled">
                     </ul>
                  </div>
               </div>
               <div class="dropdown" id="chatting-id-dropdown2">
                  <ul class="dropdown-menu"><li style="background-color: dddddd; text-align:center" class="disabled"><a style="color:black;" id="chatting-id-dropdown2-id"></a></li>
                     <!-- indent 맞추지 말것-->
                     <li><a style="cursor: pointer;" onclick='onDropdownClick(this);'>귓속말</a></li>
                     <li id="popupopmenu21"><a style="cursor: pointer;" onclick='onDropdownClick(this);'>아이피보기</a></li>
                     <li id="popupopmenu22"><a style="cursor: pointer;" onclick='onDropdownClick(this);'>벙어리</a></li>
                     <li id="popupopmenu23"><a style="cursor: pointer;" onclick='onDropdownClick(this);'>밴</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="dropdown" id="chatting-id-dropdown">
            <ul class="dropdown-menu"><li style="background-color: dddddd; text-align:center;" class="disabled"><a style="color:black;" id="chatting-id-dropdown-id"></a></li>
               <!-- indent 맞추지 말것-->
               <li><a style="cursor: pointer;" onclick='onDropdownClick(this);'>귓속말</a></li>
               <li id="popupopmenu11"><a style="cursor: pointer;" onclick='onDropdownClick(this);'>아이피보기</a></li>
               <li id="popupopmenu12"><a style="cursor: pointer;" onclick='onDropdownClick(this);'>벙어리</a></li>
               <li id="popupopmenu13"><a style="cursor: pointer;" onclick='onDropdownClick(this);'>밴</a></li>
            </ul>
         </div>
      </div>
<script src="../../../resources/js/vendor/jquery-3.4.1.min.js"></script>
<script src="../../../resources/js/vendor/bootstrap.min.js"></script>
<script>
var notisnum = '';
if(notisnum.length)
  notisnum = 'insagrelovINSAGRELOV'.indexOf(notisnum.slice(0,1))%5;
else
  notisnum = 5;
var voicealarm = '';
if(voicealarm.length)
  voicealarm = (voicealarm === "True");
else
  voicealarm = notisnum < 5;
var voicevol = '';
if(voicevol.length)
  voicevol = Number(voicevol);
else
  voicevol = 100;
</script>      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
<script type='text/javascript'>
tk = 'a87120512dc902e0d895bdb68928ba99';
uuid = '';
nick = 'Guest_lMT';
rank = 'bronze2';

signinref = "/signin/";


          function popupOnFocus(){
            $("#inputs").show(0, function(){$("#ichatinput").focus();});
            setChattingsHeight();
          }
          function popupOutFocus(){
            $("#inputs").hide();
            setChattingsHeight();
          }
          function setChattingsHeight(event) {
            var inputs = $('#inputs').is(":visible") ? $('#inputs').height()+2 : 0;
            var usersbutton = $('#usersbutton').is(":visible") ? $('#usersbutton').height()+2 : 0;
          
               $('#chattings').css({'height': window.innerHeight - inputs - usersbutton + 'px', 'bottom':inputs});
               
               var elem = document.getElementById('chattings');
               elem.scrollTop = elem.scrollHeight - elem.clientHeight;
             };

         window.onresize = setChattingsHeight;
         window.onload = ichatonload();
         function onEmoClick(elmnt){
         	var emonameclasses = elmnt.className.split(" ");
         	$("#myIchatModal").modal("hide");
         	$("#ichatinput")[0].value += "["+emonameclasses[emonameclasses.length-1]+"]";
         	$("#ichatinput").focus();
         	$("#ichatinput")[0].setSelectionRange(elmnt.value.length,elmnt.value.length);
         }
         function onDropdownClick(elmnt){
         	var id = elmnt.parentNode.parentNode.firstChild.firstChild.getAttribute("data-escape-nick");
         	var cmd = null;
         	switch(elmnt.innerHTML){//여기는 cmd 공백 없이
         	  case '귓속말':
         	    cmd = '/w';
         	    break;
             case '벙어리':
               cmd = '/mute';
               break;
             case '밴':
               cmd = '/ban';
               break;
             case '아이피보기':
               cmd = '/view_ip';
               break;
             default:
         	}
         	if(cmd){
         	  $("#users").modal("hide");
         	  if(cmd=='/w')
         	    $("#ichatinput")[0].value = cmd + ' ' + id + ' ';
       	    else
       	      $("#ichatinput")[0].value = cmd + ' ' + id;
         	  $("#ichatinput").focus();
         	  $("#ichatinput")[0].setSelectionRange($("#ichatinput")[0].value.length,$("#ichatinput")[0].value.length);
         	}
         }
      </script>
   </body>
</html>